# Ignore database files
teaching-assistance/flask_package/instance/site.db
*.db
*.sqlite
*.sqlite3


# Ignore compiled Python files
__pycache__/
*.pyc

# Ignore environment variables file
.env

# Ignore virtual environment directory
venv/
.venv/
.venv
./flask_package/archive/
debug.md

# Lab-specific files (please update with actual patterns)
# For example:
# lab_notebooks/
# *.lab_data
