{% extends "base.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}

{% block content %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card mt-5">
          <div class="card-header bg-primary text-white">
            <h3>Login</h3>
          </div>
          <div class="card-body">
            {% include "security/_messages.html" %}
            <form action="{{ url_for_security('login') }}" method="post" name="send_login_form">
              {{ send_login_form.hidden_tag() }}
              <div class="mb-3">
                {{ render_field_with_errors(send_login_form.email, class="form-control", placeholder="Email Address") }}
              </div>
              <div class="mb-3">
                {{ render_field_with_errors(send_login_form.password, class="form-control", placeholder="Password", type="password") }}
              </div>
              <div class="mb-3">
                {{ render_field(s{% extends "base.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}

{% block content %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card mt-5">
          <div class="card-header bg-primary text-white">
            <h3>Login</h3>
          </div>
          <div class="card-body">
            {% include "security/_messages.html" %}
            <form action="{{ url_for_security('login') }}" method="post" name="send_login_form">
              {{ send_login_form.hidden_tag() }}
              <div class="mb-3">
                {{ render_field_with_errors(send_login_form.email, class="form-control", placeholder="Email Address") }}
              </div>
              <div class="mb-3">
                {{ render_field_with_errors(send_login_form.password, class="form-control", placeholder="Password", type="password") }}
              </div>
              <div class="mb-3">
                {{ render_field(send_login_form.submit, class="btn btn-primary btn-block", value="<i class='bi bi-box-arrow-in-right'></i> Login") }}
              </div>
              <div class="text-center">
                <a href="{{ url_for_security('forgot_password') }}">Forgot Password?</a>
              </div>
              <div class="text-center">
                <a href="{{ url_for_security('register') }}">Don't have an account? Register here</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}end_login_form.submit, class="btn btn-primary btn-block") }}
              </div>
              <div class="text-center">
                <a href="{{ url_for_security('forgot_password') }}">Forgot Password?</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
