<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="with=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h1>Register</h1>
    <form method="POST">
        {{form.hidden_tag()}}
        {{form.username.label }}{{for.username}}
        {{form.email.label }}{{for.email}}
        {{form.password.label }}{{form.password}}
        {{form.confirm_password.label }}{{form.confirm_password}}
        {{form.submit}}
        
</body>    

</html>